<main>

  <section id="slide_1" data-type="background" data-speed="10" class="pages">
    <div class="content">
      <div class="logo">
        <img src="http://devyatka.ru/new-site/img/RK_logo.png"/>
      </div>
      <div class="text">
        <p>
Ваш путеводитель в мире ресторанов, кафе и баров</p>
        <%= link_to 'Перейти к карте', map_path, id: 'go_to_map_btn', class: 'btn' %>
      </div>
    </div>
  </section>

  <section id="slide_2" class="section--primary" data-type="background" data-speed="10" class="pages">
    <div class="content">
      <div class="text">
        <p>Вкусная и доступная еда, деликатесы и экзотические блюда в рейтинге ресторанов от Эгона Рони. Подробные рецензии помогут вам отличить качественную кухню от посредственной. Опыт знаменитого критика доступен каждому жителю нашего города!</p>
        <div class="container">
          <div class="col-3 features">
             <i class="fa fa-list-ol"></i>
             <p>
              Рестораны на любой вкус
            </p>
          </div>
          <div class="col-3 features">
            <i class="fa fa-star"></i>
            <p>
              Рестораны по удаленности и городам
            </p>
          </div>
          <div class="col-3 features">
            <i class="fa fa-magic"></i>
            <p>
              Рейтинг ресторанов
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="slide_3" data-type="background" data-speed="10" class="pages">
    <div class="content">
        <h1 class="logo">У жизни есть вкус!</h1>
      <div class="contacts">
        <div id="photo">
          <img src="#" />
        </div>
        <div id="info">
          <ul>
            <li>Имя Фамилия</li>
            <li>E-mail: example@example.com</li>
            <li class="social-networks">
              <a href="#"><i class="fa fa-facebook-square"></i></a>
              <a href="#"><i class="fa fa-twitter-square"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</main>
