<div id="map" map=""></div>
<div class="overlay" ng-controller="searchLstCtrl">
    <nav class="brown lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <img id="logo-container" id="logo" src="images/logo.png" class="brand-logo"/>
            <ul class="right hide-on-med-and-down">
                <li><a href="http://restaurant.uniqso.pp.ua">About us</a></li>
            </ul>
        </div>
    </nav>
    <div class="search-list fixed col s3" id="list">
        <ul class="collection">
            <ul class="collection-item" ng-repeat="location in locations.locationsList | filter: searcher"
                ng-click="chooseLocation(location)">
                <md-card>
                    <md-card-title>
                        <div class="row">
                            <img class="col s3 material-icons circle image" src="images/nophoto.png"
                                 ng-show="location.avatar == null">
                            <img class="col s3 material-icons circle image" ng-show="location.avatar != null"
                                 src={{location.avatar}}>

                            <md-card-title-text class="col">
                                <h5><span class="md-headline">{{location.name}}</span></h5>
                            </md-card-title-text>
                        </div>
                    </md-card-title>
                    <md-card-content>
                        <p><span>Description:</span>
                            {{location.description}}
                        </p>
                        <p><span>About:</span>
                            {{location.review}}
                        </p>
                    </md-card-content>
                    <p><span>Distance:</span> {{calculateDistance(location)/1000 | number: 2}} km</p>
                </md-card>
            </li>

        </ul>
    </div>
    <div id="search" class="row">
        <form>
            <div class="input-field">
                <input id="search-input" class="input-field" type="search" ng-model="search"
                       placeholder="Enter what you need">
            </div>
        </form>
    </div>
</div>
