html, body {
    overflow:hidden;
}

nav {

}

#search {
    top: 8%;
    position: fixed;
    width: 100%;
}

#search-input {
    color: black;
    font-family: Roboto;
    font-size: larger;
}

.search-list {
    overflow:hidden;
    top: 18%;
    position: fixed;
    height: 90%;
    overflow: scroll;

}

.overlay {
    position: absolute;
    width: 100%;
}

.wrapper {
    position: relative;
}

.image {
    width: 5%;
    height: 5%;
}
#logo{
    background: black;
}

@media only screen and (min-width: 480px) {
    html, body {
        height: 97%;
        margin: 0;
        padding: 0;
        display: list-item;
    }

    nav {
        top: 0;
        height: 9%;
        width: 100%;
        position: fixed;
        display: block;
    }

    #map {
        height: 100%;
        width: 100%;
        display: list-item;
    }

    span {
        font-style: italic;
        font-weight: bold;
    }

    #search {
        top: 8%;
        padding-left: 27%;
        position: fixed;
        width: 100%;
        display: list-item;
    }

    #search-input {
        color: black;
        font-family: Roboto;
        font-size: larger;
        display: list-item;
    }

    .search-list {
        top: 9%;
        position: fixed;
        height: 89%;
        overflow: scroll;
        width: 27%;
        display: list-item;
    }

    .overlay {
        position: absolute;
        width: 100%;
        display: list-item;
    }

    .wrapper {
        position: relative;
        display: list-item;
    }
}








