$bp-s: 43.75em;

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
}

.horizontal li {
  display: inline;
}

.content {
  width: 500px;
  margin: 0 auto;
  font-family: 'Open Sans';
}

.container{
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

section {
  background: #fff;
  padding: 3.5rem 0;

  &.section--primary {
    font-size: 1.3rem;
    color: #000;
    > div {
      height: 458px;
      position: absolute;
      text-align: center;
      top: 150px;
      width: 100%;
      background-color: white;
    }
  }
}

.col {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}

.col-3 {
  @extend .col;
  width: 29%;

  @media (max-width: $bp-s) {
    width: 100%;
  }
}

.features {
  text-align: center;
  padding: 1rem;
  height: 15rem;

  &:hover {
    background: rgba(black,.1);
  }

  i {
    font-size: 4em;
    margin: 0 0 2rem 0;

    @media (max-width: $bp-s) {
      font-size: 1.5rem;
      width: 2rem;
      text-align: center;
      margin: 0 0 1rem 0;
      float: left;
    }
  }

  p {
    margin: 0 0 1rem 0;

    @media (max-width: $bp-s) {
      margin-left: 3rem;
    }
  }
}

#slide_1 {
  background: url(http://audioveda.info/wp-content/uploads/2015/02/5fb3a4-b067-7a8ee703722c_h.jpg) 5% no-repeat fixed;
  background-size: cover;
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  > div {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
    background-color: #FDF5E6;
  }
}

#slide_2 {
  background:url(http://ik-architects.com/wp-content/uploads/2013/09/dizajn_zala_restorana_neoklassika.jpg) 80% 0 repeat fixed;
  background-size: cover;
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  > div {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
    background-color: #FDF5E6;
  }
}

#slide_3 {
  background: url(http://st3.flashrolls.net/wallpaper/237/e6134a193abf3a505d6dd5bbb439fc10.jpg) 50% no-repeat fixed;
  background-size: cover;
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  > div {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
    background-color: #FDF5E6;
  }
}

#go_to_map_btn {
  background: #dce775;
}
