<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>AngularRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <script src='https://maps.googleapis.com/maps/api/js'></script>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <%= yield %>
</body>
</html>
